.btn {
    display: inline-block;
    border-radius: 5rem;
    text-decoration: none;
    font-size: 3rem;
    line-height: 1;
    transition: all .2s ease;
}

.btn--primary {
    color: #fff;
    background-color: #fff;
    color: #463128;
    padding: 1.5rem 5rem;


    &:hover {
        background-color: #463128;
        color: #fff;
    }

}